<h2  style="padding-top: 20px;"><b>education</b></h2>
<table style="padding-top: 20px;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>  
  <tr>
    <td style="padding-right: 20px; width:25%;vertical-align:middle">
      <img src="assets/img/uoft.jpg" alt="clean-usnob" width="140" height="140">
    </td>
    <td width="75%" valign="middle">
      <p>
      <strong>University of Toronto</strong></p>
      <p1><a href="https://engsci.utoronto.ca/program/what-is-engsci/">BASc. in Engineering Science</a> | 2018-2023 
      <br><strong>Robotics Major, Machine Intelligence Minor</strong> (cGPA: 3.97/4.0)
      <br> <strong>Relevant courses:</strong> Robotics, Deep Learning, Artificial Intelligence, Control Systems, Bayesian Modelling and Inference, Dynamics, Natural Language Computing
      </p1>
    </td>
  </tr>
</tbody></table>