<h2  style="padding-top: 30px;"><b>education</b></h2>
<table style="padding-top: 10px;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>  
  <tr>
    <td style="padding-right: 20px; width:25%;vertical-align:middle">
      <img src="assets/img/mit.png" alt="clean-usnob" width="140" height="140">
    </td>
    <td width="75%" valign="middle">
      <p>
      <strong>Massachusetts Institute of Technology</strong></p>
      <p1>PhD in Computer Science | 2023 - Present
      <br><strong>Affiliations:</strong> Computer Science and Artificial Intelligence Lab (<a href="https://www.csail.mit.edu/">CSAIL</a>), Embodied Intelligence, <a href="https://beerys.github.io/">BeeryLab</a>
      </p1>
    </td>
  </tr>
</tbody></table>

<table style="padding-top: 20px;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>  
  <tr>
    <td style="padding-right: 20px; width:25%;vertical-align:middle">
      <img src="assets/img/uoft.jpg" alt="clean-usnob" width="140" height="140">
    </td>
    <td width="75%" valign="middle">
      <p>
      <strong>University of Toronto</strong></p>
      <p1><a href="https://engsci.utoronto.ca/program/what-is-engsci/">BASc. in Engineering Science</a> | 2018 - 2023 
      <br><strong>Robotics Major, Machine Intelligence Minor</strong> (cGPA: 3.97/4.0)
      </p1>
    </td>
  </tr>
</tbody></table>