<div style="padding-top: 20px;">
<h2><b>interests/ hobbies</b></h2>
</div>
<div class="row" style = "padding-top: 20px;">
    <div class="col-md-4 portfolio-item" align-items="center">
      <img class="img-responsive" src="assets/img/piano.jpg"  width="230" height="230" halign="middle">
      <br><p1 style="padding-top: 10px;"><strong>Music Performance and Enthusiast</strong>
      <br><br>I have an <a href="https://www.rcmusic.com/learning/examinations/recognizing-achievement/arct-lrcm">Associate Diploma</a> in piano performance and I enjoy playing for leisure and at community events. I also enjoy listening to music of various genre including but not limited to classic and alternative rock, electronic pop and R&B</p1>
    </div>

   <div class="col-md-4 portfolio-item">
      <img class="img-responsive" src="assets/img/juneau.jpg"  width="230" height="230">
      <br><p1 style="padding-top: 10px;"><strong>Hiking</strong>
      <br><br>I'm lucky to have grown up in Toronto which has an abundance of parks and nature trails to explore. I enjoy finding new spots on the weekends and observing wildlife. Recently I encountered a fox family, American mink and a beaver! </p1>
    </div>

   <div class="col-md-4 portfolio-item">
      <img class="img-responsive" src="assets/img/chaetime.JPG"  width="230" height="230">
      <br><p1 style="padding-top: 10px;"><strong>Cooking</strong>
      <br><br>I'm an amateur cook who enjoys learning dishes from all over the world! I run a small cooking page (pictured above) where I share my journey with my friends, family and other members of the cooking community. If you have any recipe recommendations please let me know</p1>
    </div>

  </div>
